<header class="header">
  <div class="header__container">
    <div class="header__wrapper">
      {{> elements/logo classes = 'header__logo'}}
      {{> elements/liner-control
        classes = 'header__search'
        placeholder = 'Введите запрос'
      }}
    </div>
  </div>
</header>
