<section class="modal modal_hidden"
  data-modal-template="{{template}}"
>
  {{> elements/close-button classes='modal__close-button'}}
  <div class="modal__title-row">
    <h3 class="modal__title"></h3>
    <div class="modal__id modal__id_hidden">
      <span class="modal__id-title">ID:</span>
      <span class="modal__id-item"></span>
    </div>
  </div>
  <p class="modal__description modal__description_hidden"></p>
  <div class="modal__body"></div>
</section>
