<div
  class="{{#if classes}}{{classes}} {{/if}}no-search-result no-search-result_hidden"
  id="no-search-result"
>
  <p class="no-search-result__message"></p>
  {{> elements/button
    class='no-search-result__button'
    modifier=''
    text='Сбросить поиск'
  }}
</div>
