// colors
$black: #333;
$txt-gray: #b0b0b0;
$gray: #c8c5d1;
$firm: #9873ff;
$red: #f06a4d;
$orange: #e6b127;
$green: #34c759;
$app-background: #f5f5f5;

// shadows
$header-shadow: 0px 3.386px 5.644px 0px rgba(176, 190, 197, 0.32), 0px 9.03px 27.09px 0px rgba(176, 190, 197, 0.32);
