.form-control {
  position: relative;
  padding-top: 16px;
  
  &__placeholder {
    position: absolute;
    top: 20px;
    left: 1px;
    font-size: 14px;
    line-height: 1;
    color: $txt-gray;
    transition: top .2s ease-in-out, font-size .2s ease-in-out;
  }
  
  &__input {
    width: 100%;
    padding-bottom: 4px;
    outline: none;
    border: none;
    border-bottom: 1px solid $control-border;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    color: $black;
    
    &:required {
      ~ span::after {
        color: $firm;
        content: '*';
      }
    }
    
    &:focus {
      ~ span {
        top: 0;
        font-size: 10px;
      }
    }
    
    &_invalid {
      border-bottom-color: $invalid-control-border;
    }
  }
}
