.head-cell {
  padding: 8px 0;
  
  span {
    position: relative;
    width: fit-content;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: $txt-gray;
    
    &::before,
    &::after {
      position: absolute;
      top: 50%;
      opacity: .7;
      transform: translateY(-50%);
    }
  }
  
  &_sortable {
    & span {
      cursor: pointer;
      
      &::after {
        right: -12px;
        display: block;
        width: 12px;
        height: 12px;
        background: url("/icons/sort-arrow.svg") no-repeat center;
        background-size: 12px;
        content: '';
      }
    }
  }
  
  &_sortable-string {
    & span::before {
      right: -32px;
      width: fit-content;
      color: $firm;
      content: 'А-Я';
    }
  }
  
  &_reverse-sort {
    & span::after {
      transform: rotate(180deg);
    }
  }
  
  &_is-active-sort {
    span {
      color: $firm;
      
      &::before,
      &::after {
        opacity: 1;
      }
    }
  }
}
