<div class="contact-control">
  <input type="text" class="{{controlConstants.classes.input}}{{#if classes}} {{classes}}{{/if}}"{{#if placeholder}} placeholder="{{placeholder}}"{{/if}}{{#if required}} required{{/if}}>
</div>
