<div class="contact-control">
  <input type="text" class="contact-control__input{{#if classes}} {{classes}}{{/if}}"{{#if placeholder}} placeholder="{{placeholder}}"{{/if}}{{#if required}} required{{/if}}>
</div>
