<button class="delete-contact-btn{{#if classes}} {{classes}}{{/if}}" type="button">
  <svg>
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#delete-contact" />
  </svg>
  <span class="tooltip">
    <span class="tooltip__wrapper">
      <span class="tooltip__text-only">Удалить контакт</span>
    </span>
  </span>
</button>
