<th
  class="head-cell {{#if this.isSortable}}head-cell_sortable{{/if}} {{#if this.isString}}head-cell_sortable-string{{/if}}"
  id="head-row-{{this.idLastPart}}"
  scope="col">
  <span>{{this.name}}</span>
</th>
