<th
  class="head-cell{{#if this.isSortable}} head-cell_sortable{{/if}}{{#if this.isString}} head-cell_sortable-string{{/if}}{{#if this.isSortActive}} head-cell_is-active-sort{{/if}}"
  id="head-row-{{this.idLastPart}}"
  scope="col">
  <span>{{this.name}}</span>
</th>
