<th
  class="head-cell{{#if this.isSortable}} head-cell_sortable{{/if}}"
  id="head-row-{{this.idLastPart}}"
  scope="col">
  <div class="head-cell__wrapper">
    <span class="head-cell__text">{{this.name}}</span>
    {{#if this.isSortable}}
      <span class="head-cell__arrow"></span>
    {{/if}}
    {{#if this.isString}}
      <span class="head-cell__letters">
        <span>-</span>
      </span>
    {{/if}}
  </div>
</th>
