<div class="liner-control {{this.classes}}">
  <input
    class="liner-control__input"
    {{#if this.placeholder}}placeholder="{{this.placeholder}}" {{/if}}
    {{#if type}}type="{{type}}" {{else}}type="text"{{/if}}
  >
</div>
