<div class="select{{#if classes}} {{classes}}{{/if}}">
  <button
    type="button"
    class="select__item"
    data-selected-value=""
  >
    <span class="select__item-text"></span>
    <div class="select__item-arrow">
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#select-arrow" />
      </svg>
    </div>
  </button>
  <ul class="select__dropdown">
    {{#each this.options}}
      <li class="select__option" data-option-value="{{this.value}}">{{this.text}}</li>
    {{/each}}
  </ul>
</div>
