@import '@styles/variables';
@import '@styles/mixins';

.header {
  padding: 20px;
  background-color: $white;
  @include shadow($header-shadow);

  &__logo {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    background-color: $firm;
    color: $white;
  }
}
