.clients {
  &__inner {
    margin-bottom: 40px;
  }
  
  &__table {
    width: 100%;
    border-collapse: collapse;
    
    th {
      &[id="head-col-id"] {
        width: 101px;
      }
      
      &[id="head-col-create"] {
        width: 175px;
      }
      
      &[id="head-col-change"] {
        width: 173px;
      }
      
      &[id="head-col-contacts"] {
        width: 158px;
      }
      
      &[id="head-col-actions"] {
        width: 210px;
      }
    }
  }
  
  &__add-button {
    margin: 0 auto;
  }
  
  &__preloader {
    display: flex;
    width: 100%;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    background-color: $white;
    
    &-inner {
      width: 100px;
      height: 100px;
    }
    
    &_hidden {
      display: none;
    }
  }
  
  @include horizontal-tablet-media {
    &__table th {
      &[id="head-col-id"] {
        width: 90px;
      }
      
      &[id="head-col-name"] {
        width: 232px;
      }
      
      &[id="head-col-create"] {
        width: 160px;
        padding-right: 36px;
      }
      
      &[id="head-col-change"] {
        width: 145px;
        padding-right: 20px;
      }
      
      &[id="head-col-contacts"] {
        width: 148px;
        padding-right: 36px;
      }
    }
    
  }
}
