.clients {
  
  &__table {
    width: 100%;
    border-collapse: collapse;
    
    th {
      &[id="head-row-id"] {
        width: 62px;
      }
      
      &[id="head-row-create"] {
        width: 175px;
      }
      
      &[id="head-row-change"] {
        width: 173px;
      }
      
      &[id="head-row-contacts"] {
        width: 148px;
      }
      
      &[id="head-row-actions"] {
        width: 207px;
      }
    }
  }
}
