.header {
  @include shadow($header-shadow);
  
  &__container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
  }
  
  &__wrapper {
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center;
  }
  
  &__search {
    max-width: 581px;
    margin-left: 53px;
  }
  
  @include xs-media {
    &__wrapper {
      $vertical-paddings: 8px;
      padding-top: $vertical-paddings;
      padding-bottom: $vertical-paddings;
      justify-content: center;
    }
    &__search {
      display: none;
    }
  }
}
