.logo {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: $firm;
  
  &__text {
    margin-left: 3px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: $white;
  }
}
